$dark: rgb(36, 36, 36);


.App {
  height: 100vh;
  width: 100%;
}

.appBar{
  position: fixed;
  height: 100vh;
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.btn{
  padding: 10px 45px;
  border-radius: 50px;
  color: $dark;
  border: 1px solid $dark;
  background-color: transparent;
  font-size: 2rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  &--primary {
    background-color: pink;
    color: white;
  }
}

.header{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

}



.calendar{
  width: 100%;
  
}